<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a New Geoache</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Geocache Creator:</label>
        <br>
        <input #creator>
      </div>

      <form>
        <label>Geocache Address:</label>
        <br>
        <input #address>
        <button (click)="getAddress(address.value, creator.value)">Submit</button>
      </form>
      <br><p>OR:</p><br>
      <form>
        <label>Cache GPS Coordinates:</label>
        <br>
        <label>Latitude:</label>
        <input #lat>
        <br>
        <label>Longitude:</label>
        <input #lon>
        <button (click)="getCoordinates(lat.value, lon.value, creator.value)">Submit</button>
      </form>
    </div>
  </div>
</div>
